<div *ngFor="let event of eventData">
  <img src="{{ event.images[0].url }}" />
  <p>Event Name: {{ event.name }}</p>
  <p>Event Date: {{ event.dates.start.localDate }}</p>
  <p>Event City: {{ event._embedded.venues[0].city.name }}</p>
  <div *ngIf="showDetails">
    <p>Event Venue: {{ event._embedded.venues[0].name }}</p>
    <p>Genre: {{ event.classifications[0].genre.name }}</p>
    <a href="{{ event.url }}">Go to event page</a>
  </div>
  <button *ngIf="!showDetails" (click)="toggleDetails()">
    See More Details
  </button>
</div>
