/* <i class="fas fa-star"></i> */
:host {
  display: block;
  font-family: "Raleway", sans-serif;
  background-image: url("/assets/img/concertimage.jpg");
  background-size: cover;
  height: 100vh;
  overflow-y: scroll;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.events {
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  height: 370px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.712);
}

img {
  width: 300px;
  height: 200px;
}

.eventInfo {
  display: flex;
  border-top: 2px solid black;
  flex-direction: column;
}

p {
  margin: 0px;
}

button {
  font-family: "Lobster Two", cursive;
}
