:host {
  display: block;
  font-family: "Raleway", sans-serif;
  background-image: url("/assets/img/concertimage.jpg");
  background-size: cover;
  height: 100vh;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 70vh;
  justify-content: center;
}
label {
  padding: 5px;
  color: #2f6690;
  font-size: 20px;
  font-weight: 700;
}
input {
  padding: 15px;
  margin: 15px 0px;
  width: 80%;
  height: 25px;
}

h1 {
  color: #2f6690;
  font-size: 50px;
  font-family: "Lobster Two", cursive;
}

.buttonStyle {
  background-color: #883677;
  color: white;
  border-radius: 8px;
  height: 5vh;
  font-size: 18px;
  width: 40%;
  font-family: "Lobster Two", cursive;
  margin: 10px;
  height: 40px;
}

button:hover {
  text-decoration-line: underline;
}

.dateCityInputs {
  width: 82.5%;
}

input {
  border-radius: 5px;
  border: 1px solid #d4d2d5;
}

input[type="text"] {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}

::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

::-webkit-datetime-edit {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
