.mainNav {
  display: flex;
  background-color: #883677;
  font-family: "Lobster Two", cursive;
  justify-content: space-between;
}

a {
  display: flex;
  color: #ffeef2;
  text-decoration: none;
  font-family: "Lobster Two", cursive;
  padding: 5px;
  font-size: 30px;
  padding-left: 30px;
}
a:hover {
  text-decoration-line: underline;
}

div {
  display: flex;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav {
  margin-right: 20px;
}

h1 {
  color: #ffeef2;
  padding: 10px;
  font-size: 35px;
  text-shadow: 2px 2px black;
  margin-left: 20px;
}
